.about {
  height: 92vh;
  /* background-color: peru; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex-wrap: wrap;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
}
.text_container {
  position: relative;
}
