.home {
  height: 70vh;
  background-image: url(../resources/home_bg.jpg);
  background-color: #cfc6cc;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_container {
  /* flex-wrap: wrap; */
  width: 80%;
  /* padding-right: 15px;
  padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
}
.text_container {
  width: 40%;
}

.home_name {
  font-size: 60px;
  font-weight: 400;
  font-style: italic;
}

.content {
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
}

.btn_container {
  display: flex;
  /* justify-content: space-between; */
  width: 70%;
}
#hire {
  margin-left: 40px;
  background-color: white;
}
.animation_btn_pink_to_red {
  background: #ec5b53;
  color: #fff;
}
@media (max-width: 1460px) {
  .text_container {
    width: 60%;
  }
}
@media (max-width: 1200px) {
  .text_container {
    width: 60%;
  }
}
@media only screen and (max-width: 991px) {
  .btn_container {
    width: 90%;
  }
  .text_container {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .home_name {
    font-size: 43px;
    line-height: 1.2;
  }
  .home_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text_container {
    width: 80%;
  }
  #hire {
    display: none;
  }
}

@media (max-width: 575px) {
  /* .home_name {
    font-size: 35px;
    line-height: 1.2;
  } */
}
.home_btns {
  padding: 25px 45px;
  text-decoration: none;
}
.btn {
  text-transform: capitalize;
  font-family: 'Rubik', sans-serif;
  display: inline-block;
  font-size: 13px;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 0;
  margin-bottom: 0;
  margin: 10px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  margin: 0;
  transition: ease-out 0.3s;
}

/* button animation */
.btn:hover {
  color: #fff;
}

.btn:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  z-index: -1;
}
.animation_btn_white_to_pink:before {
  background-color: #ec5b53;
}

.animation_btn_pink_to_red:before {
  background-color: #e43239;
}

.btn:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.animation_btn_white_to_pink:hover:before {
  background-color: #ec5b53;
}
.animation_btn_pink_to_red:hover:before {
  background-color: #e43239;
}
