.projects {
  height: auto;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 150px;
}

.projects_title_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects_title {
  font-size: 40px;
  font-style: italic;
  margin-top: 0px;
}
.projects_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project_container {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 300px;
}

.photo_container {
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

.description_container {
  height: 100%;
  width: 50%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#dev_connector {
  background: url(../resources/Dev_connect.png) no-repeat center center/cover;
}

#excel_helper {
  background: url(../resources/Excel_heler.png) no-repeat center center/cover;
}

#rune_marker {
  background: url(../resources/Rune_maker.PNG) no-repeat center center/cover;
}

.project_btn_container_new {
  display: flex;
  justify-content: flex-end;
}

.project_btn {
  width: 70px;
  height: 50px;
  margin-left: 20px;
}
.icons {
  padding: 5px;
}

@media (max-width: 1350px) {
  .photo_container {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (max-width: 991px) {
  .project_container {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .description_container {
    width: 100%;
  }
  .reverse {
    flex-direction: column-reverse;
  }
}
